---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
// import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- <ContactUs
    id="form"
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    columns={2}
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `For quick answers to your questions, product inquiries, or support. We’re here to assist you every step of the way.`,
      },
      {
        title: 'Contact us',
        description:
          'Our customer support team is available to provide personalized assistance and help you find the right solutions for your business.',
      },
      {
        title: 'Phone',
        description: '<a  href="https://wa.me/13055466848" target="_blank">+1 (305) 546-6848</a>',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: '<a  href="mailto:info@openmarketusa.com">info@openmarketusa.com</a>',
        icon: 'tabler:mail-forward',
      },

    ]}
  />
</Layout>
