---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- Features2 Widget ************** -->

  <Features2
    columns={2}
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `For quick answers to your questions, product inquiries, or support. We’re here to assist you every step of the way.`,
      },
      {
        title: 'Contact us',
        description:
          'Our customer support team is available to provide personalized assistance and help you find the right solutions for your business.',
      },
      {
        title: 'Phone',
        description: '<a  href="https://wa.me/15550123456" target="_blank">+1 (555) 012-3456</a>',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: '<a  href="mailto:contact@example.com">contact@example.com</a>',
        icon: 'tabler:mail-forward',
      },

    ]}
  />
</Layout>
