---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Carousel from '~/components/common/Carousel.astro';
import BrandsCarousel from '~/components/common/BrandsCarousel.astro';
import Hero from '~/components/widgets/Hero.astro';
import { glassesBrands, suppliesBrands, equipmentsBrands } from '../core/data/images-list';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'OPEN MARKET inversiones inc',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Carousel />

  <Hero
    image={{
      src: 'https://rgoptics-imagenes.s3.us-west-1.wasabisys.com/open-market/10-banner.jpg',
      alt: 'aparatos-oftalmicos',
    }}
  >
    <Fragment slot='title'>OPEN MARKET inversiones inc<br>is all you need</Fragment>

    <Fragment slot='subtitle'>
      <span class='hidden sm:inline'>
        <span class='font-semibold'>We are a </span>wholesaler of many of the products in the ophthalmic sector.</span
      >
    </Fragment>
  </Hero>

  <Content
    isReversed
    hasBeforeContent
    tagline="Brand's variety"
    title='We have a huge catalog of sunglasses and frames.'
    callToAction={{
      text: 'See more',
      href: '/products/frames',
    }}
    items={[
      {
        title: 'Wide Variety of Styles',
        description:
          'We offer an extensive collection of sunglasses and frames for all tastes, from classic to the most modern designs. Find all you need!',
      },
      {
        title: 'Guaranteed Quality and Durability',
        description:
          'All pair of glasses is made with high-quality materials, ensuring not only style but also strength and comfort with every wear.',
      },
      {
        title: 'Protection and Fashion in One Place',
        description: 'We have glasses that combine UV protection and attractive design.',
      },
    ]}
    image={{
      src: 'https://rgoptics-imagenes.s3.us-west-1.wasabisys.com/open-market/3-1080.jpg',
      alt: 'Frames and sunglasses',
    }}
  >
    <Fragment slot='content'>
      <h3 class='text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2'>
        Complete or modernize your catalog
      </h3>
      Here you will find everything you need
    </Fragment>

    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-blue-50 dark:bg-[#17173ce1]'></div>
    </Fragment>
  </Content>

  <div class='h-[5px] bg-blue-50 dark:bg-[#17173ce1]'></div>

  <div class='bg-blue-50 dark:bg-[#17173ce1]'>
    <BrandsCarousel brandsData={glassesBrands} />
  </div>

  <div class='h-[64px] bg-blue-50 dark:bg-[#17173ce1]'></div>

  <Content
    isAfterContent
    hasBeforeContent
    tagline='Different supplies'
    title='Whatever you need for selling to optics or laboratories'
    callToAction={{
      text: 'See more',
      href: '/products/supplies',
    }}
    items={[
      {
        title: 'Wholesale for Optical and Laboratory Supplies',
        description: `We offer an endless variety of products for optics and laboratories at wholesale prices. Find everything you need in one place!`,
      },
      {
        title: 'We are your ideal partner',
        description: 'For sourcing materials for optics and laboratories. Buy in bulk and save!',
      },
      {
        title: 'Looking for quality and variety?',
        description:
          'We have all the supplies your business needs, from optics to laboratories, with the best wholesale rates in the market.',
      },
    ]}
    imageLayout="contained"
    image={{
      src: 'https://rgoptics-imagenes.s3.us-west-1.wasabisys.com/open-market/insumos-2.png',
      alt: 'insumos Image',
    }}
  >
    <Fragment slot='content'>
      <h3 class='text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2'>
        Chemicals, tints, removers and more
      </h3>
    </Fragment>

    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-blue-50 dark:bg-[#17173ce1]'></div>
    </Fragment>
  </Content>

  <div class='h-[5px] bg-blue-50 dark:bg-[#17173ce1]'></div>

  <div class='bg-blue-50 dark:bg-[#17173ce1]'>
    <BrandsCarousel brandsData={suppliesBrands} />
  </div>

  <div class='h-[64px] bg-blue-50 dark:bg-[#17173ce1]'></div>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    hasBeforeContent
    callToAction={{
      text: 'See more',
      type: 'button',
      href: '/products/equipments',
    }}
    tagline='New and Refurbished'
    title='All Equipments for optics and laboratories'
    items={[
      {
        title: 'Precision Optical Instruments',
        description: 'Ideal for opticians and laboratories specialists seeking reliability and performance.',
      },
      {
        title: 'Advanced Equipment',
        description: 'Cutting-edge solutions, high-accuracy devices for opticians and labs.',
      },
      {
        title: 'Refurbished & Certified Tools',
        description: 'Explore our selection of refurbished equipment that meets rigorous quality checks.',
      },
    ]}
    image={{
      src: 'https://rgoptics-imagenes.s3.us-west-1.wasabisys.com/open-market/9-1080.jpg',
      alt: 'Frames and sunglasses',
    }}
  >
    <Fragment slot='content'>
      <h3 class='text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2'>
        Complete or modernize your catalog
      </h3>
      Here you will find everything you need
    </Fragment>

    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-blue-50 dark:bg-[#17173ce1]'></div>
    </Fragment>
  </Content>

  <div class='h-[5px] bg-blue-50 dark:bg-[#17173ce1]'></div>

  <div class='bg-blue-50 dark:bg-[#17173ce1]'>
    <BrandsCarousel brandsData={equipmentsBrands} />
  </div>

  <div class='h-[64px] bg-blue-50 dark:bg-[#17173ce1]'></div>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title='Frequently Asked Questions'
    subtitle='Dive into the following questions to gain insights of information that can help you.'
    tagline='FAQs'
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is the minimum order quantity for wholesale purchases?',
        description:
          "Our minimum order quantity depends on the product type. Please contact us directly for specific requirements, and we'll be happy to assist you with bulk ordering.",
      },
      {
        title: 'Do you offer discounts for bulk orders or repeat customers?',
        description:
          'Yes, we offer volume discounts for larger orders and special pricing for repeat customers. Reach out to our sales team for a customized quote based on your needs.',
      },
      {
        title: 'What is your warranty policy on new and refurbished equipment?',
        description:
          "We offer a warranty on both new and refurbished equipment. New products typically come with a manufacturer's warranty, while refurbished items are covered by our 6-month warranty for peace of mind.",
      },
      {
        title: 'How long does shipping take, and do you offer international delivery?',
        description:
          'Shipping times vary depending on your location, but typically orders are processed within 1-2 business days. We do offer international shipping, and delivery times may vary based on destination.',
      },
      {
        title: 'Can you provide training or support for using the equipment?',
        description:
          'Yes, we offer product training and technical support for all our equipment. Please contact us to schedule a session or to get assistance with any questions regarding setup or usage.',
      },
      {
        title: 'What payment methods do you accept, and are there financing options available?',
        description:
          'We accept a variety of payment methods, including credit cards, bank transfers, and PayPal. We also offer financing options through third-party providers for larger orders. Please reach out for more details.',
      },
    ]}
  />
</Layout>
