
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img
    src="https://rgoptics-imagenes.s3.us-west-1.wasabisys.com/open-market/logo-light.png"
    alt="Logo para Light"
    class="h-9 w-auto dark:hidden"
  />
  <img
    style="border-radius: 8px;"
    src="https://rgoptics-imagenes.s3.us-west-1.wasabisys.com/open-market/logo-dark.png"
    alt="Logo para Dark"
    class="h-9 w-auto hidden dark:block"
  />
</span>
